// Corporate colors
$tui-red: 		#ef0000;
$tui-blue: 		#d6eefc;
$tui-medblue:   #2c9fd7;
$tui-newblue: 	#70cbf4;
$tui-darkblue:  #092a5e;
$tui-lightblue: #dceefc;

// Other colors
$tui-green:		#aad700;
$tui-yellow:	#ff0;
$tui-sand:		#ffdeb7;
$tui-beige:		#d7d2c3;

// Grey colors
$tui-grey:		#737373;
$tui-lightgrey: #d8d6d8;
$tui-linegrey:	#8393ac;

// Alerts
$tui-danger:    #d82121;
$tui-success:   #39d821;
$tui-warning:   #d8a221;

// Transparencies
$tui-phototrans: rgba(97,129,180,.4);
$tui-whiteover: rgba(255,255,255,.36);

// Overlay
$tui-overlay: rgba(14,23,39,.8);

// Active
$tui-activeblue: #00bbf0;